target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### VS Code ###
.vscode/

### Environment ###
.env
.env.*
application-local.properties
application-dev.properties

### Logs ###
*.log
logs/

### OS specific ###
.DS_Store
Thumbs.db
